In [1]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving CAR.csv to CAR.csv

In [12]:
dft = pd.read_csv("CAR.csv")
dft.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [18]:
dft.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [19]:
miss_flag = dft.isnull().sum()
miss_flag.head()
s = x['fuel'].value_counts()
s
#no missing values

name             0
year             0
selling_price    0
km_driven        0
fuel             0
dtype: int64

In [110]:
x = dft.iloc[:,[6,5,4,1,3]].values
y = dft.iloc[:,2].values
y
#print(y)
x.shape

(4340, 5)

In [116]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in range(0,2):
  x[:,i] = le.fit_transform(x[:,i])
x

array([[1, 1, 2, 2007, 70000],
       [1, 1, 2, 2007, 50000],
       [1, 1, 1, 2012, 100000],
       ...,
       [1, 1, 2, 2009, 83000],
       [1, 1, 1, 2016, 90000],
       [1, 1, 2, 2016, 40000]], dtype=object)

In [268]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
#X_train
#y_test

In [269]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [270]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train,y_train)
y_pred = reg.predict(X_test)
#y_pred

In [271]:
df = pd.DataFrame(data = (y_test,y_pred))
df = df.rename(index={0:'Actual',1:'Predicted'})
final = df.transpose().round(2)
#final

In [273]:
print(reg.score(X_test,y_test))

0.49359060193880705